body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f3f3f3;
}

.container {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

button {
    background-color: #ff69b4;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    transition: transform 0.3s ease;
}

button:hover {
    background-color: #ff1493;
}

#thankYouMessage {
    font-size: 1.5rem;
    color: #32cd32;
    font-weight: bold;
    margin-top: 20px;
}
